@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chapter030104</title>
    <script src="/Scripts/vue.js?vison=1.0.25   "></script>

</head>
<body id="example" @@click="up">
<div id="demo" v-demo:hello.a.b="msg"></div>
</body>
<script>
    Vue.directive('demo', {
        bind: function() {
            console.log('demo bound!')
        },
        update: function(value) {
            this.el.innerHTML = 'name -' + this.name + '<br>' + 'expression - ' + this.expression + '<br>' + 'argument - ' + this.arg + '<br>' + 'modifiers - ' + JSON.stringify(this.modifiers) + '<br>' + 'value -' + value + '<br>' + 'vm-msg' + this.vm.msg
        }
    });
  var demo = new Vue({
      el: '#example',
      data: {
          msg: 'hello!'
      },
      methods: {
          up: function() {
              console.info("click");
          }
      }
  });
</script>
</html>
