@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chapter030104</title>
    <script src="/Scripts/vue.min.js?vison=1.0.25"></script>
</head>
<body id="example">
<ul id="demo">
    <li v-for="item in items" class="item-{{$index}}">
        {{$index}}-{{parentMessage}} {{item.msg}}
    </li>
</ul>
</body>
<script>
    var demo= new Vue(
    {
        el: '#demo',
        data: {
            parentMessage: '滴滴',
            items: [
               
        {msg:'滴滴顺风车'},
        {msg:'滴滴专车'}
            ]
        }
    });
</script>
</html>
